input.file {
    position: relative;
    top: 30px;
    display: inline-block;
    width: 35px;
    padding: 35px 0 0 0;
    height: 35px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('http://thinkpad.com.vn/public/backend/images/icons8-upload-48.png') center center no-repeat #393b3b !important;
    border-radius: 20px;
}
input.file:hover{
    background-color:#D10024 !important;
}