<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../../public/frontend/css/404.css">
    <title>Document</title>
</head>
<body>
    <div class="overlay"></div>
    <div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">The page you are looking for might have been removed, had its name changed or is temporarily unavailable</ü>
    <p class="output">Please try <a href="#1">this link</a> or <a href="#2">this link</a></p>
    <p class="output">Good luck</p>
    </div>
</body>
</html>